.container-fluid{
    background-image: url(./images/giri-2.jpg);
    height: 200vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

 header {
   position: sticky; 
   top: 0;
   margin-top: 30px;
    
  } 
  h1 a{
    text-decoration: none;
    font-style: italic;
    color: white;
  }
   h1 a:hover{
    font-size: 50px;
  }
  .person:hover{
    font-size: 70px;
    color: brown;
  }

  
nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: 12rem;
    color: whitesmoke;
}
span a{
  font-size: 30px;
  color: white;
  text-decoration-color: aquamarine;
}
 /* span a:hover{
    color:red;
    font-size:30px ;
} */
.heading{
 margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
color:white;
}
.abt{
    font-size: 20px;
    color: white;
    width: 70%;
    margin-left: 50px;
    
}
.port{
    font: 30px;
    margin-left: 50px;
}
h3 a{
  color: brown;
}
 .port ul li a:hover h3{
  
    list-style: none;
    color: #fff;
}

section {
    padding: 40px 0;
    display: unset;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form .form-group {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    color: white;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 35%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }